/* 7/12/22 */

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading {
    font-size: 28px;
    font-weight: bold;
}

.subheading {
    font-size: 22px;
    font-weight: 400;
}

.navbar {
    overflow: hidden;
    width: 100%;
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar a {
    color: black;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .right-side-content {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }