/* 7/12/22 */

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logo {
    position: relative;
}

.logo img {
    position: absolute;
    top: 10px;
    right: 0px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

.subheading {
    font-size: 22px;
    font-weight: 400;
}
