@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  width: 152px;
  height: 36px;
  border: none;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 5px;
}

img {
  border: 3px solid gray;
  width: 50%;
}

h3 {
  font-weight: normal;
  font-size: 22px;
}

.indent {
  margin-left: 30px !important;
  
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(255, 255, 255); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    box-shadow:0px 0px 10px 0px rgb(176, 176, 176);
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    display: block;
  }

  .a_sub {
    padding-top: 3px !important;
    padding-bottom: 8px !important;
    font-size: 14px !important;
    color: #5e5e5e !important;
  }
  .a_sub:hover {
    color: rgb(0, 0, 0) !important; 
    background-color: #ececec5c;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    background-color: #ececec5c;
  }
  
  /* Style page content */
  .main {
    margin-left: 210px; 
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }